.achivement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .achivement-content {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .achivement-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .achivement-description {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
  }