.product-container {
  width: 100%;
}

.filters {
  font-size: 16px;
  display: inline-block;
  align-items: center;
  margin: 25px 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 0; /* Remove gap between items */
  /* padding: 10px; */
}

.product {
  border: 1px solid rgb(224, 224, 224);
  background-color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  width: 100%; /* Ensure image takes up full width of the product container */
  height: auto; /* Maintain aspect ratio of the image */
}

.product h2 {
  font-size: 16px;
  margin: 10px 0;
}

.product p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.product .favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
}

.product .favorite:hover {
  color: #000;
}

.clr-btn {
  background-color: #fff;
  border: none;
}

@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(3,1fr); /* 3 items per row on smaller screens */
  }
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row on tablets */
  }
}

@media (max-width: 480px) {
  .products {
    grid-template-columns: 1fr; /* 1 item per row on mobile */
  }
}
